<form action='/businesses/found' method='post'>
  <h1>Find a Restaurant</h1>
  <label>Location:</label>
  <input type="text" name="location"><br>
  <label>Cusine:</label>
  <input type="integer" name="cusine"><br>

  <input type="submit" value="Create"/>

</form>
