<html>
 <head>
   <title>Restaurant Picker</title>
 </head>
 <body>
   <div id='header'>
     <nav>
       <a href="/restaurants">List All Restaurants</a> <span> </span>
       <a href="/restaurants/new">Add A Restaurant</a> <span> </span>
       <a href="/customers">List All Customers</a> <span> </span>
       <a href="/customers/new">Add A Customer</a> <span> </span>
     </nav>
   </div>
   <div id='main'>
     <%= yield %>
   </div>
 </body>
</html>
